$cd-box-background-color: hsl(0, 0%, 92%);
$cd-box-border-space: 1vw;
$cd-box-size: 30vw;
$cd-box-z: 2;
$cd-break-point: 1023px;
$cd-padding: 1.5rem;
$cd-button-color: hsl(204, 86%, 50%);
$cd-button-text-color: hsl(0, 0%, 100%);
$cd-button-color-hover: hsl(204, 90%, 55%);
$cd-button-margin: 1rem;
$cd-button-padding: 0.5rem 4rem;